@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <h3>Developed by Vamsi</h3>
    <h2>I am testing the branches<h2>
    <p class="lead">Example .NET app to Azure App Services I am vamshi.</p>
</div>
